.success {
  color: #118711;
  border: 1px solid #118711;
  padding: 1em;
  background: #cfcfcfaa;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.fail {
  color: #e71111;
  border: 1px solid #e71111;
}

.notification {
  padding: 1em;
  background: #cfcfcfaa;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  border-radius: 1em;
}
